/* Projects Section */
.projects-section {
    padding: 100px 0;
    background-color: #ffffff;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    color: black;
    background-color: #f9f9f9;
}

/* Project Item */
.project-item {
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 4px;
}

/* Project Title */
.project-item h2 {
    margin-bottom: 10px;
}

/* Project Description */
.project-item p {
    margin-bottom: 10px;
}

/* Project Links */
.project-item a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}

.project-item a:hover {
    text-decoration: underline;
}

.projects-section .project {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  }
  
  .projects-section .project a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .projects-section .project a:hover {
    background-color: #0056b3;
  }
  