/* Projects Section */
.projects-section {
    padding: 100px 0;
    background-color: #ffffff;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    color: black;
    background-color: #f9f9f9;
}

/* Project Item */
.project-item {
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 4px;
}

/* Project Title */
.project-item h2 {
    margin-bottom: 10px;
}

/* Project Description */
.project-item p {
    margin-bottom: 10px;
}

/* Project Links */
.project-item a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}

.project-item a:hover {
    text-decoration: underline;
}
